@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #998267;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #C8DCE6;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #768D99;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #F7FCFF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #E6D8C8;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
